{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body %}
{% load static %}



<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>{{jobs.title}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<div class="job_details_area">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 mx-auto">
                <div class="job_sumary">
                    <div class="summery_header">
                        <h3> Your Profile</h3>
                    </div>
                    <div class="job_content">
                        <ul>
                            <hr>
                            {% if profile.imag %}
                            <img src="{{user.profile.imag.url}}" width="300">
                            <hr>
                            {% else %}
                            <img src="{% static 'img/z55.png' %}" width="300">
                            <hr>
                            {% endif %}
                            <li>First name: <span>{{profile.user.first_name}}</span></li>
                            <hr>
                            <li>Last name: <span>{{profile.user.last_name}}</span></li>
                            <hr>
                            <li>Username: <span>{{profile.user}}</span></li>
                            <hr>
                            <li>Email: <span>{{profile.user.email}}</span></li>
                            <hr>
                            <li>Phone: <span>{{profile.phone_numper}}</span></li>
                            <hr>
                        </ul>
                    </div>
                    <div class="p-5">
                        <a class="boxed-btn3 w-100" href="{% url 'profile_edit' %}">Edit Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}